.todocart{
    display: flex;
}

.todocart svg{
    width: 20px;
    height: 20px;
}

.outerPage{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: #474F7A;   
}

.todoOut{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid#474F7A;
    border-radius: 10px;
    justify-content: space-between ;
    height: 80vh;
    min-width: 30%;
    width: 50%;
    /* overflow: hidden; */
    position: relative;
}
.todoOut .section1{
    width: 100%;
    height: 10%;
    background-color: #81689D;
}


.todoOut h1{
    width: 100%;

    text-align: center;
    padding: 10px;
    color: #EEF5FF;
}



.openModelBtn{
    position: absolute;
    bottom: -40px;
    background-color: #f399cd;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 70px;
    width: 80px;
    height: 80px;
    
}


.createTodoModal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.createTodoModalIn{
    background-color: #ffddf0;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.createTodoModalIn input{
    width: 300px;
    padding: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    
}

.createTodoModalIn button{
    color: #ba1174;
    background-color: white;
    margin: 5px;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.todos{
    height: 90%;
    background-color: #ffebf8;
    width: 100%;
    overflow-y: scroll;
}

.todos::-webkit-scrollbar{
    width: 10px;
}

.todos::-webkit-scrollbar-track{
    background: #ffebf8;
}

.todos::-webkit-scrollbar-thumb{
    background: #888;
}

.todocart{
    display: flex;
    background-color: #cebaf7;
    margin: 20px 5px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}


.icons{
    display: flex;
    gap: 10px; 
    cursor: pointer;
}

.taskPending{
    color: #b77ecf;
    font-size: 30px;
    font-weight: 400;
}

.taskDone{
    color: gray;
    text-decoration: line-through;
}

.noTodos{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.noTodos h3{
    color: #b77ecf;
    font-size: 30px;
    font-weight: 400;
}


